.domainDetails{
	background:none;
    border:none;
	cursor: pointer;

	vertical-align: text-top;
	scale: 2;
	margin-left: 5px;
}

.domainDetails:hover{
	scale: 3;
}

.taskDetails{
	background:none;
    border:none;
	cursor: pointer;
	
	scale: 1.5;
}

.taskDetails:hover{
	scale: 2;
}

.actionDetails{
	background:none;
    border:none;
	cursor: pointer;
}

.actionDetails:hover{
	scale: 1.5;
}