label {
    display: inline-block;
    width: 75px;
    vertical-align: top;
}

homebgimage {
    width: 800;
    position: fixed;
    left: 50vw;
    transform: translateX(-400px);
    opacity: 0.2;
}

sparks {
    width: 800px;
    height: 800px;
    position: fixed;
    left: 50vw;
    transform: translateX(-400px);
    opacity: 0.2;
}

spark {
    position: absolute;
}

homeTitles {
    position: fixed;
    top: 40px;
    left: 0px;
    width: 100vw;
    z-index: 1;
}

homeTitles>h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    font-size: 30px;
    position: fixed;
    top: 50px;
    width: 50vw;
}

.homeCodingTitle {
    background-color: var(--coding);
    left: 0vw;
}

.homeMusicTitle {
    background-color: var(--music);
    left: 50vw;
}

lefthemisphere,
righthemisphere {
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 125px;
    overflow-y: auto;
}

lefthemisphere {
    left: 0vw;
}

righthemisphere {
    left: 50vw;
}

lefthemisphere>article,
righthemisphere>article {
    position: absolute;
    width: 90%;
}


/*lefthemisphere>article {
    left: 35%;
}

righthemisphere>article {
    left: 5%;
}*/

codingimg {
    position: absolute;
    width: 20%;
    left: 5%;
    top: 30%;
}

codingtext {
    position: absolute;
    left: 30%;
    width: 75%;
}

musicimg {
    position: absolute;
    left: 85%;
    top: 30%;
    width: 20%;
}

musictext {
    position: absolute;
    width: 80%;
    left: 5%;
}

.web {
    top: 0px;
    height: 300px;
}

.apps {
    top: 300px;
    height: 300px;
}

.mediaDesign {
    top: 600px;
    height: 625px;
}

.guitarist {
    top: 0px;
    height: 200px;
}

.composer {
    top: 200px;
    height: 300px;
}

.producer {
    top: 500px;
    height: 300px;
}

.teacher {
    top: 800px;
    height: 500px;
}

.teacher>musicimg,
.mediaDesign>codingimg {
    top: 20%;
}

codingtext>h1,
musictext>h1 {
    text-align: center;
}

body {
    overflow: hidden;
}