label {
    display: inline-block;
    width: 75px;
    vertical-align: top;
}

.homebgimage {
    --negHalfImageWidth: -400px;
    position: fixed;
    left: 50vw;
    transform: translateX(var(--negHalfImageWidth));
    opacity: 0.2;
}

homeTitles {
    position: fixed;
    top: 40px;
    left: 0px;
    width: 100vw;
    z-index: 1;
}

homeTitles>h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    font-size: 30px;
    position: fixed;
    top: 50px;
    width: 50vw;
}

.homeCodingTitle {
    background-color: var(--coding);
    left: 0vw;
}

.homeMusicTitle {
    background-color: var(--music);
    left: 50vw;
}

lefthemisphere,
righthemisphere {
    position: absolute;
    width: 50vw;
    top: 65px;
}

lefthemisphere {
    left: 0vw;
}

righthemisphere {
    left: 50vw;
}


/*middleline {
    --lineWidth: 10px;
    --negHalfLineWidth: -5px;
    position: fixed;
    left: 50vw;
    top: 20vh;
    transform: translateX(var(--negHalfLineWidth));
    width: 10px;
    height: 70vh;
    background-color: var(--black);
    border-radius: 4px;
}*/